@model IEnumerable<CafeComFormacao.Models.Evento>

@{
    ViewBag.MostrarCabecalho = false;
}

<form asp-controller="Participante" asp-action="InscreverEvento" method="post">
    <div class="form-group">
        <select class="form-control custom-select multiple" name="EventosSelecionados">
            @foreach (Evento evento in Model)
            {
                <option value="@evento.Id">@Html.DisplayFor(x => evento.NomeDoEvento)</option>
            } 
        </select>
    </div>
    <button type="submit" class="btn btn-success">Escolher Eventos</button>
</form>
