@model CafeComFormacao.Models.Participante
@{
    ViewData["Title"] = "Café com Formação";
}
<div class="container-fluid mx-auto mt-xxl-5">
    <form asp-action="Criar">
        <h1 class="text-center">Inscreva-se já!</h1>
        <div class="form-group mt-lg-5">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" placeholder="Seu nome">
        </div>
        <div class="form-group mt-lg-3">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" placeholder="Seu email">
        </div>
        <div class="form-group mt-lg-3">
            <label asp-for="Celular" class="control-label"></label>
            <input asp-for="Celular" class="form-control" placeholder="Seu telefone">
        </div>
        <div class="form-group mt-lg-3">
            <label asp-for="Senha" class="control-label"></label>
            <input asp-for="Senha" type="password" class="form-control" placeholder="Cadastre uma senha">
        </div>
        <div class="form-group form-check mt-lg-3">
            <input asp-for="CursoLidere" type="checkbox" class="form-check-input">
            <label asp-for="CursoLidere" class="form-check-label">Deseja adquirir um curso do instituto lidere?</label>
        </div>
        <button type="submit" class="btn btn-success mt-3">Inscrever-se</button>
    </form>
</div>

