@model CafeComFormacao.Models.Palestrante
@{
    ViewData["Title"] = "Adicionar participante";
    ViewBag.MostrarCabecalho = false;
}

<div class="container-fluid mx-auto mt-xxl-5">
    <form asp-controller="Palestrante" asp-action="CriarPalestrante">
        @Html.AntiForgeryToken()
        <h1 class="text-center">Adicionar participante:</h1>
        <div class="form-group mt-lg-5">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" placeholder="Seu nome">
            <div class=" mt-2"><span class="alert-danger" asp-validation-for="Nome"></span></div>
        </div>
        <div class="form-group mt-lg-3">
            <label asp-for="Email" class="control-label"></label>
            <input id="email" asp-for="Email" class="form-control" placeholder="Seu email">
            <div class="mt-2"><span class="alert-danger" id="mensagemEmail" asp-validation-for="Email"></span></div>
        </div>
        <div class="form-group mt-lg-3">
            <label asp-for="TelefoneDeContato" class="control-label"></label>
            <input id="senha" asp-for="TelefoneDeContato" type="text" class="form-control" placeholder="Telefone de contato">
            <div class="mt-2"><span class="alert-danger" asp-validation-for="TelefoneDeContato"></span></div>
        </div>
        <button id="botaoEnviar" type="submit" class="btn btn-success mt-3">Adicionar Palestrante</button>
    </form>
</div>
