@{
    ViewData["Title"] = "Café com Formação";

    if (ViewBag.CodigoVerificacao != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.CodigoVerificacao
        </div>
    }
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
</div>
