<nav id="adminSideBar" class="sidebar col-1 start-0 rounded text-ligh">
    <div class="sidebar">
        <ul class="nav col-sm">
            <li class="nav-item">
                <a asp-controller="Evento" asp-action="NovoEvento" class="nav-link active opcao_nave-bar">
                    Criar Evento
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Participante" asp-action="ListarParticipantes" class="nav-link active opcao_nave-bar">
                    Listar Participantes
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Participante" asp-action="UsuarioPorEvento" class="nav-link active opcao_nave-bar">
                    Listar Eventos por Participantes
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="d-flex align-items-center justify-content-center">
        <div class="ajaxDiv">
        </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function ()
        {
            ajaxPainel();
        })
    </script>
}