@{
    var usuarioId = ViewData["usuarioId"];
}

<nav id="adminSideBar" class="sidebar col-1 start-0 rounded text-ligh">
    <div class="sidebar">
        <ul class="nav col-sm">
            <li class="nav-item">
                <a asp-controller="Inscricaos" asp-action="ListarTodosOsEventosDoUsuario" asp-route-usuarioId=@usuarioId class="nav-link active opcao_nave-bar">
                    Listar Eventos
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex align-items-center justify-content-center">
    <div class="ajaxDiv">
    </div>
</div>